<nav class="nav" aria-label="Navigation principale">


    <!-- LOGO en haut -->
    <div class="nav__logo">
        <img src="/icons/logoFU.png" alt="Logo FollowUp" />
    </div>


    <!-- Liens horizontaux -->
    <div class="nav__links">
        <a routerLink="/" routerLinkActive="nav__item--active" class="nav__item">Accueil</a>
        <a routerLink="/about" routerLinkActive="nav__item--active" class="nav__item">A propos</a>
        <a routerLink="/pricing" routerLinkActive="nav__item--active" class="nav__item">Tarifs & Contacts</a>
        <a routerLink="/features" routerLinkActive="nav__item--active" class="nav__item">Fonctionnalités</a>
        <a href="/login" target="_blank" rel="noopener" class="nav__item nav__item--cta">Connexion / Inscription</a>
    </div>
</nav>