<nav class="nav" aria-label="Navigation principale">


    <!-- LOGO en haut -->
    <div class="nav__logo">
        <img src="/icons/logoFU.png" alt="Logo FollowUp" />
    </div>


    <!-- Liens -->
    <div class="nav__links">
        <a routerLink="/dashboard" routerLinkActive="nav__item--active" class="nav__item" aria-label="Dashboard">
            <img src="/navbar/Dashboard.png" alt="" class="nav__icon" />
            <span class="nav__label">Dashboard</span>
        </a>

        <a routerLink="/candidatures" routerLinkActive="nav__item--active" class="nav__item" aria-label="Candidatures">
            <img src="/navbar/Candidatures.png" alt="" class="nav__icon" />
            <span class="nav__label">Candidatures</span>
        </a>

        <a routerLink="/relances" routerLinkActive="nav__item--active" class="nav__item" aria-label="Relances">
            <img src="/navbar/Relances.png" alt="" class="nav__icon" />
            <span class="nav__label">Relances</span>
        </a>

        <a routerLink="/profil" routerLinkActive="nav__item--active" class="nav__item" aria-label="Profil">
            <img src="/navbar/Profil.png" alt="" class="nav__icon" />
            <span class="nav__label">Profil</span>
        </a>
    </div>
</nav>