<div class="reset-container" *ngIf="!success">
  <h1>Réinitialisation du mot de passe</h1>

  <p *ngIf="error" class="error">{{ error }}</p>

  <form (ngSubmit)="submit()" *ngIf="token">
    <input
      type="password"
      placeholder="Nouveau mot de passe"
      [(ngModel)]="newPassword"
      name="newPassword"
      required
    />

    <input
      type="password"
      placeholder="Confirmation"
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      required
    />

    <button type="submit">Valider</button>
  </form>
</div>

<div *ngIf="success">
  <h2>Mot de passe mis à jour ✅</h2>
  <p>Redirection en cours...</p>
</div>
